@charset "utf-8";

body {
  position: relative;
}
.draw-line {
  z-index: 9999999999 !important;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
}
.draw-line-unlocked {
  pointer-events: none;
}
.draw-line-container {
  z-index: 9999999999 !important;
  position: fixed;
  top: 5px;
  right: 5px;
  width: 180px;
  height: fit-content;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}
.draw-line-container > ul {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  list-style: none;
  box-sizing: border-box;
}
.draw-line-container > ul > li {
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}
.draw-line-container > ul > li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.draw-line-container > ul > li:last-child {
  border-bottom: none;
}
.draw-line-title {
  display: block;
  font-size: 16px;
  color: #333;
  margin: 0;
  border: none;
}
.draw-line-sub-title {
  font-size: 14px;
  color: #333;
  margin: 0;
  border: none;
  margin-bottom: 5px;
}
.draw-line-close-button {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  background: url("./../images/close.png") no-repeat left top;
  background-size: contain;
}
.draw-line-close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.draw-line-screen-lock-toggle-button {
  width: 60%;
  height: fit-content;
  position: relative;
  display: block;
  margin: 0 auto;
}
.draw-line-screen-lock-toggle-button > input {
  display: none;
}
.draw-line-screen-lock-toggle-button-content {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  height: 26px;
  overflow: hidden;
}
.draw-line-screen-lock-toggle-button-content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 0;
  left: 0;
  border: 1.5px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
}
.draw-line-screen-lock-toggle-button-content:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  transition: all 0.5s;
}
.draw-line-screen-lock-toggle-button-circle {
  display: block;
  top: 0;
  bottom: 0;
  left: 5px;
  margin: auto;
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: #ccc;
  transition: all 0.5s;
}
.draw-line-screen-lock-toggle-button
  > input:checked
  ~ .draw-line-screen-lock-toggle-button-circle {
  left: 78px;
  background-color: #fff;
}
.draw-line-screen-lock-toggle-button
  > input:checked
  ~ .draw-line-screen-lock-toggle-button-content {
  border-color: transparent;
  transition: all 0s;
}
.draw-line-screen-lock-toggle-button
  > input:checked
  ~ .draw-line-screen-lock-toggle-button-content:after {
  width: 100%;
  background-color: #00c4cc;
}
.draw-line-change-straight-line-button,
.draw-line-change-square-button,
.draw-line-change-circle-button {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  border: none;
  margin: 0;
  padding-left: 25px;
  position: relative;
}
.draw-line-change-straight-line-button::before,
.draw-line-change-square-button::before,
.draw-line-change-circle-button::before {
  content: "";
  display: block;
  position: absolute;
  border: none;
  width: 18px;
  height: 18px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url("./../images/check-disabled.png") no-repeat left top;
  background-size: contain;
}
.draw-line-change-straight-line-button:hover,
.draw-line-change-square-button:hover,
.draw-line-change-circle-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.is-active::before {
  background: url("./../images/check-active.png") no-repeat left top;
  background-size: contain;
}
.draw-line-color-picker {
  width: 60%;
  height: 30px;
  display: block;
  margin: 0 auto;
}
.draw-line-change-width {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.draw-line-footer {
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.draw-line-back-button,
.draw-line-reset-button {
  display: block;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  color: #333;
  padding: 3px 8px;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
  background-color: #fff;
}
.draw-line-back-button:hover,
.draw-line-reset-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
